*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div1 {
    height: 200px;
    width: 300px;
    background-color: aquamarine;
    transition: all 2s linear;
}
@media (min-width:768px){
    .div1{
        background-color: red;
    }
}


.parent {
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    color: mediumaquamarine
    ;
}

.child {
    width: 20%;
    height: 20%;
    border: 1px solid green;
    animation-name: parent;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}

@media (max-width:480px){
    .parent{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .child{
        width: 100%;
    }
}

@keyframes parent{
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}